<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>TangoInfo - Find Details Of Your Favorite Countries</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}"/>

</head>
<body>

<header>
    <nav>
        <ul>
            <li><a href="home.html" th:href="@{/}" style="color: #fcb813">Home</a></li>
        </ul>
    </nav>
</header>

<div class="container">
    <form th:action="@{/}" action="home.html" method="get">
        <label>
            <span class="country-search">Which country would you like to explore?</span>
            <select name = "alpha3Code">

                <!--th:each on option tag-->
                <!--th:value for replacing countries' values-->
                <!--th:text for countries' names-->
                <option value=""></option>
                <option value="Australia" th:each="country : ${countries}" th:selected="${country.getAlpha3Code() == alpha3Code}" th:value="${country.getAlpha3Code()}" th:text="${country.getName()}">Browse Countries</option>
                <option value="Israel" th:remove="all">Israel</option>
                <option value="Jordan" th:remove="all">Jordan</option>
                <option value="Iceland" th:remove="all">Iceland</option>

            </select>
            <button>Search</button>
        </label>
    </form>
</div>

<br/>
<br/>
<br/>
<br/>


<!--style="border: 1px solid red;"-->
<div class="info" th:if="${country}">
    <br/>
    <br/>
    <img class="flag" th:src="${country.getFlag()}"/>
    Country Name: <span th:text="${country.getName()}"></span>
    <br/>
    <br/>
    <p>Demonym (inhabitant/language): <span class="demonym" th:text="${country.getDemonym()}"></span></p>
    <br/>
    <p>Capital: <span class="capital" th:text="${country.getCapital()}"></span></p>
    <br/>
    <p>Region: <span class="region" th:text="${country.getRegion()}"></span></p>
    <br/>

</div>


<footer>
    <section class="about-us">
        <p><a>© 2017 Tango Travel Guide | </a><a href="privacy-policy">Privacy Policy</a> | <a href="terms-of-use">Terms of Use</a></p>
    </section>
</footer>
</body>
</html>