<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Tango Travel Guide - Share Your Travel Ideas and Plans</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}"/>

</head>
<body>

<div id="container">

    <header>
        <nav>
            <ul>
                <li><a href="home.html" th:href="@{/}" style="color: #fcb813">Home</a></li>
                <li><a href="travelTip.html" style="color: #fcb813">Travel Tips</a></li>
            </ul>
        </nav>
    </header>

    <div class="searchbar">
        <form th:action="@{/}" action="home.html" method="get">
            <label>
                <span class="country-search">Which country would you like to explore?</span>
                <select name = "alpha3Code">

                    <!--th:each on option tag-->
                    <!--th:value for replacing countries' values-->
                    <!--th:text for countries' names-->
                    <option value=""></option>
                    <option value="Australia" th:each="alpha3Code : ${countries}" th:value="${alpha3Code.getAlpha3Code()}" th:text="${alpha3Code.getName()}">Browse Countries</option>
                    <option value="Israel" th:remove="all">Israel</option>
                    <option value="Jordan" th:remove="all">Jordan</option>
                    <option value="Iceland" th:remove="all">Iceland</option>

                </select>
                <button>Search</button>
            </label>
        </form>
    </div>

    <!--<div th:text="${countries}"></div>-->

    <footer>
        <section class="about-us">
            <p><a>© 2017 Tango Travel Guide | </a><a href="privacy-policy">Privacy Policy</a> | <a href="terms-of-use">Terms of Use</a></p>
        </section>
    </footer>

</div>
</body>
</html>