<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Travel Tips | Tango Travel Guide</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}"/>

</head>
<body>
<header>
<nav class="nav-left">
    <ul>
        <li><a href="home.html" th:href="@{/}" style="color: #fcb813">Home</a></li>
        <li><a href="travelTip.html" style="color: #fcb813">Travel Tips</a></li>
    </ul>
</nav>
</header>


<footer>
    <section class="about-us">
        <p><a>© 2017 Tango Travel Guide | </a><a href="privacy-policy">Privacy Policy</a> | <a href="terms-of-use">Terms of Use</a></p>
    </section>
</footer>
</body>
</html>