<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Travel Tips | Tango Travel Guide</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}"/>

</head>
<body>
<nav class="nav-left">
    <ul>
        <li><a href="home.html" th:href="@{/}">Home</a></li>
        <li><a href="travelTip.html" th:href="@{/travelTip}">Travel Tips</a></li>
    </ul>
</nav>
</body>
</html>